.linha{
  display: flex;
  flex-direction: row;
}

.col-1 {
   width: 8%;
   order: 1;
}

.col-2 {
   width: 8%;
   order: 2;
}

.col-3 {
   width: 8%;
   order: 3;
}

.col-4 {
   width: 8%;
   order: 4;
}

.col-5 {
  width: 8%;
  order: 5;
}

.col-6 {
  width: 8%;
  order: 6;
}
